synthesis/source/frp_12.11.2001/SpaceHybrid/12.11.2001/SpaceHybrid/Support/SCCS/s.SHTimeline.dtd

h57166
s 00007/00000/00000
d D 1.1 99/12/02 15:58:16 jmochel 2 1
cC
cK19395
cO-rw-rw-rw-
e
s 00000/00000/00000
d D 1.0 99/12/02 15:58:13 jmochel 1 0
c BitKeeper file G:/SpaceHybrid/Support/SHTimeline.dtd
cBjmochel@devilmountain.bedford.foliage.com|ChangeSet|19991202203126|52994|e2968a7f5cb68f67
cHdevilmountain.bedford.foliage.com
cK44989
cPSupport/SHTimeline.dtd
cReb4786395cb68f68
cZ-05:00
c______________________________________________________________________
e
u
U
f e 0
f x 33
t
T
I 2
<!DOCTYPE SHTimeline "-//Jim Jackl-Mochel//DTD Space Hybrid Timeline//EN" [
<!ELEMENT SHTimeline - - (#PCDATA) >
<!ELEMENT epoch - - (#PCDATA) +(event | title) >
<!ELEMENT title - - (#PCDATA) >
<!ELEMENT event - - (#PCDATA) +(date | title) >
<!ELEMENT date - - (#PCDATA) >
] >
E 2
I 1
E 1
